## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('kc_house_data.csv')
df.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,...,11,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0.0,NaN,...,7,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,...,7,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
10,1736800520,4/3/2015,662500.0,3,2.50,3560,9796,1.0,NaN,0.0,...,8,1860,1700.0,1965,0.0,98007,47.6007,-122.145,2210,8925
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,0.0,0.0,...,7,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,0.0,0.0,...,7,1430,0.0,1927,NaN,98028,47.7558,-122.229,1780,12697
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,0.0,0.0,...,7,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,0.0,0.0,...,7,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,0.0,3.0,...,9,1980,970.0,1979,0.0,98126,47.5714,-122.375,2140,4000
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,0.0,0.0,...,7,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,0.0,0.0,...,7,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,0.0,0.0,...,7,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850

In [3]:
len(df)

21597

In [4]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [6]:
df.isna().sum()
#Check for null values

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

It looks like waterfront, view, and yr_renovated all have null values. Let's take a look at the value counts for each of these columns to see how we want to address null values.

In [7]:
#yr_renovated turn into a dummy variable (renovation or no renovation)
#need to determine what view means 
#Should number of floors be categorical?

In [8]:
df.view.value_counts()
#how many times the property was viewed

0.0    19422
2.0      957
3.0      508
1.0      330
4.0      317
Name: view, dtype: int64

In [9]:
df.view.describe()

count    21534.000000
mean         0.233863
std          0.765686
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          4.000000
Name: view, dtype: float64

The column 'view' tells us how many times the house has been viewed before purchase. With only 63 rows having a null value for the views column we can choose to drop it (because it is only 0.2% of the data) or we can choose to impute a measure of central tendency. 

Let's use the mode to replace those null values as that is the most common view number for the dataset.

In [10]:
df.view.fillna(0, inplace=True)

In [63]:
df.waterfront.value_counts()

0.0    19075
1.0      146
Name: waterfront, dtype: int64

Since waterfront has a value of either 1 or 0, this tells us that this variable is a categorical variable. This column tells us whether the property has a waterfront view or not.  We'll make the assumption that the null values correspond with non-waterfront properties and encode these as a zero.

In [11]:
df.waterfront.fillna(0, inplace=True)

For yr_renovated, we would expect to see a four digit integer in the column or a 0 (meaning that there were no renovations at the time the data was collected).  We convert all of the null values to a 0 and make yr_renovated a categorical variable (either the house has been renovated or it hasn't).

In [12]:
df.yr_renovated.fillna(0, inplace=True)

In [13]:
#grade definition
#https://info.kingcounty.gov/assessor/esales/Glossary.aspx?type=r#g

In [14]:
df.drop_duplicates(subset=['id'], keep='first', inplace=True)
len(df)
#drop duplicated rows in the dataframe based on id number

21420

In [15]:
df.sqft_basement.value_counts()

0.0       12717
?           452
600.0       216
500.0       206
700.0       205
          ...
508.0         1
518.0         1
283.0         1
2580.0        1
3480.0        1
Name: sqft_basement, Length: 304, dtype: int64

The column 'sqft_basement' is equal to 'sqft_living'-'sqft_above'. We'll perform this operation on those columns of the dataframe so that the question marks will be replaced with the appropriate value.

In [16]:
df['sqft_basement'] = df['sqft_living'] - df['sqft_above']
df.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,...,7,1180,0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0,1933,0.0,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,...,11,3890,1530,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,0,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0.0,0.0,...,7,1060,0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,...,7,1050,730,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0,2003,0.0,98038,47.3684,-122.031,2390,7570
10,1736800520,4/3/2015,662500.0,3,2.50,3560,9796,1.0,0.0,0.0,...,8,1860,1700,1965,0.0,98007,47.6007,-122.145,2210,8925
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,0.0,0.0,...,7,860,300,1942,0.0,98115,47.6900,-122.292,1330,6000
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,0.0,0.0,...,7,1430,0,1927,0.0,98028,47.7558,-122.229,1780,12697
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,0.0,0.0,...,7,1370,0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,0.0,0.0,...,7,1810,0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,0.0,3.0,...,9,1980,970,1979,0.0,98126,47.5714,-122.375,2140,4000
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,0.0,0.0,...,7,1890,0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,0.0,0.0,...,7,1600,0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,0,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,0.0,0.0,...,7,1250,0,1969,0.0,98003,47.3343,-122.306,1280,8850

We will convert the date column to a datetime object. This will allow us to easily filter by month or year if we want to explore if those could be good predictors.

In [17]:
df['date'] = pd.to_datetime(df.date, dayfirst=True)

In [18]:
df.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,...,7,1180,0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-09-12,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0,1933,0.0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-09-12,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,2014-12-05,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,...,11,3890,1530,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,0,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0.0,0.0,...,7,1060,0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,...,7,1050,730,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,2015-12-03,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0,2003,0.0,98038,47.3684,-122.031,2390,7570
10,1736800520,2015-03-04,662500.0,3,2.50,3560,9796,1.0,0.0,0.0,...,8,1860,1700,1965,0.0,98007,47.6007,-122.145,2210,8925
11,9212900260,2014-05-27,468000.0,2,1.00,1160,6000,1.0,0.0,0.0,...,7,860,300,1942,0.0,98115,47.6900,-122.292,1330,6000
12,114101516,2014-05-28,310000.0,3,1.00,1430,19901,1.5,0.0,0.0,...,7,1430,0,1927,0.0,98028,47.7558,-122.229,1780,12697
13,6054650070,2014-07-10,400000.0,3,1.75,1370,9680,1.0,0.0,0.0,...,7,1370,0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,2015-12-03,530000.0,5,2.00,1810,4850,1.5,0.0,0.0,...,7,1810,0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,9297300055,2015-01-24,650000.0,4,3.00,2950,5000,2.0,0.0,3.0,...,9,1980,970,1979,0.0,98126,47.5714,-122.375,2140,4000
16,1875500060,2014-07-31,395000.0,3,2.00,1890,14040,2.0,0.0,0.0,...,7,1890,0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,2014-05-29,485000.0,4,1.00,1600,4300,1.5,0.0,0.0,...,7,1600,0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,2014-05-12,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,0,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,2015-04-24,230000.0,3,1.00,1250,9774,1.0,0.0,0.0,...,7,1250,0,1969,0.0,98003,47.3343,-122.306,1280,8850

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21420 entries, 0 to 21596
Data columns (total 21 columns):
id               21420 non-null int64
date             21420 non-null datetime64[ns]
price            21420 non-null float64
bedrooms         21420 non-null int64
bathrooms        21420 non-null float64
sqft_living      21420 non-null int64
sqft_lot         21420 non-null int64
floors           21420 non-null float64
waterfront       21420 non-null float64
view             21420 non-null float64
condition        21420 non-null int64
grade            21420 non-null int64
sqft_above       21420 non-null int64
sqft_basement    21420 non-null int64
yr_built         21420 non-null int64
yr_renovated     21420 non-null float64
zipcode          21420 non-null int64
lat              21420 non-null float64
long             21420 non-null float64
sqft_living15    21420 non-null int64
sqft_lot15       21420 non-null int64
dtypes: datetime64[ns](1), float64(8), int64(12)
memory usage: 3.6 MB